div.form-group > p.field-description {
    display: inline;
    padding-left: 1em;
}

fieldset#root_controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

fieldset#root_controls > p.field-description {
    width: 100%;
}

fieldset#root_controls > div.form-group {
    flex: 0 1 24%;
}