*__pycache__
covfee/node_modules
covfee/alias.json
covfee/app/src/constants.json
*.DS_Store
*.wav
.vscode*
*package-lock.json
*nohup.out
.ipynb_checkpoints*
database.db
covfee.egg-info
covfee/.docz
samples/*/database.covfee.db