*__pycache__
covfee/client/node_modules
covfee/shared/node_modules
covfee/alias.json
covfee/tmp
covfee/storybook-static
covfee/build-storybook.log
*.DS_Store
*.wav
.vscode*
*package-lock.json
*nohup.out
.ipynb_checkpoints*
database.db
covfee.egg-info
covfee/.docz
samples/*/database.covfee.db
samples/*/covfee_tasks/index.js
samples/*/covfee_constants.json
samples/conflab/media/*
samples/memory/media/*
