include covfee/shared/validator/*.js
include covfee/shared/schemata.json
include covfee/shared/package.json
include covfee/server/socketio/*.js

include covfee/server/package.json
include covfee/server/templates/*.html
recursive-include covfee/client/bundles *

global-exclude package-lock.json .DS_Store
include versioneer.py
include covfee/_version.py
