.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

/* Annotation feedback */
.gui-vertical {
    position: relative;
    width: 100px;
    height: 100%;
}

.gui-indicator {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: green;
}

/*Video container*/
.video-container {
    width: 100%;
    height: auto;
}

/* Mouse tracker */
.mouse-tracker {
    cursor: crosshair;
}