<html>
	<head>
		<title>Autolight Viewer</title>
		<style>
			body { margin: 0; }
			canvas { display: block; }
		</style>
	</head>
	<body>
		<link rel="stylesheet" href="https://unpkg.com/antd@4.3.3/dist/antd.min.css">
		<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
		<script src="https://unpkg.com/antd@4.3.3/dist/antd.min.js" crossorigin></script>
		<div id="app"></div>
		<script src="{{dist_url}}/bundle.js"></script>
	</body>
</html>