
table.simple-table {
  font-size: 1em;
  border-collapse: collapse;
}
table.simple-table > tr > td,
table.simple-table > tr > th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

/* antd fix */
.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-col:first-child {
  padding-left: 0 !important;
}

.ant-col:last-child {
  padding-right: 0 !important;
}
/* Color of an unselected star in Rate */
.ant-rate-star-zero .ant-rate-star-first, .ant-rate-star-zero .ant-rate-star-second {
  color:#b6b6b6 !important;
}


/* Annotation feedback */
.gui-vertical {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 5px solid #202020;
}

.gui-indicator {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: green;
}



/*Video container*/
.mouse-tracker {
  width: 100%;
  padding: 5px;
  background-color: gray;

  > .video-container {
    position: relative;
    width: 100%;
    height: auto;
    cursor: crosshair;
  }

  &-active {
    background-color: red;
  }

  &-occluded {
    background-color: blue;
  }
}

/* Mouse visualization component */
.mouse-visualizer {
  position: relative;
  width: 100%;

  >.mouse-visualizer-pointer {
    position: absolute;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    background-color: red;
    border-radius: 50%;
  }
}



/* Gallery img */
.gallery-img {
  width: 90%;
  height: auto;
  margin: 5%;
}





/* full-width banner for login and other pages */
.covfee-banner {
  width: 100%;
  margin: 1em auto 2em;
  text-align: center;
  font-size: 2em;

  >img {
    display: inline-block;
    margin-right: 0.5em;
  }
}

/*GUI elements */
.spinner {
  text-align: center;
  padding: 2em;
  margin: 2em 0;
}


/* Multiview video */
.video-multiview-selector{
  padding: 5px;
  background-color: black;

  >video {
    max-height: 100px;
  }
} 