
table.simple-table {
  font-size: 1em;
  border-collapse: collapse;
}
table.simple-table > tr > td,
table.simple-table > tr > th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

/* Site header */
a.header-covfee {
  font-size: 1.5em;
  color: #f5f5f5 !important;
}
.header-covfee-logo {
  display: inline-block;
  margin-right: 0.5em;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

/* antd fix */
.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-col:first-child {
  padding-left: 0 !important;
}

.ant-col:last-child {
  padding-right: 0 !important;
}

/* Annotation feedback */
.gui-vertical {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 5px solid #202020;
}

.gui-indicator {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: green;
}

/* Task instructions tab button */
.task-instructions-button {
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
    box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: white;
    background-color: rgb(199, 138, 24);
    padding: 0 8px;
    font-size: 0.85em;
}
.task-instructions-button:hover {
  cursor: pointer;
}

/* Task Overlay */
.task-container {
  width: 100%;
}
.task-overlay {
  position: fixed;
  padding: 1em 0;
  width: 50%;
  margin: 0 25%;
  top: 35%;
  transform: translate(0, -100%);
  background-color: rgba(0, 0, 0, .7);
  border-width: 3px;
  border-style: solid;
  border-color: #363636;
  z-index: 2;

  &-off {
    display: none;
  }

  .main-option {
    display: inline-block;
    margin: 0 5px;
  }

  nav {
    width: 100%;
    text-align: center;
  }
}
.video-overlay-nav>button {
  margin: 0 5px;
}

/*Video container*/
.mouse-tracker {
  width: 100%;
  padding: 5px;
  background-color: gray;

  > .video-container {
    position: relative;
    width: 100%;
    height: auto;
    cursor: crosshair;
  }

  &-active {
    background-color: red;
  }

  &-occluded {
    background-color: blue;
  }
}

/* Mouse visualization component */
.mouse-visualizer {
  position: relative;
  width: 100%;

  >.mouse-visualizer-pointer {
    position: absolute;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    background-color: red;
    border-radius: 50%;
  }
}

/* Sidebar buttons */
.sidebar {
  .task-group {
    max-height: calc(100vh - 54px);
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    padding: 1.333%;
  }

  &-children {
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
  }

  &-btn {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 2px;

    &-name {
      color: #d5d5d5;
      width: calc(100% - 36px);
      overflow-x: hidden;
      display: block;
      padding: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    &-icon {
      display: block;
      float: right;
      width: 20px;
      height: 20px;
      margin: 8px;
      color:#d5d5d5;
    }

    &-parent {
      background-color: #262626;
    }

    &-child {
      background-color: #232323;
    }

    &-active {
      background-color: green;
    }
  }
}

/* Gallery img */
.gallery-img {
  width: 90%;
  height: auto;
  margin: 5%;
}

/* annotation bar (above the player) */
.annot-bar {
  background-color: black;
  color: #f5f5f5;

  &-section, &-header {
    display: inline-block;
    padding: 5px 15px;
    font-size:0.8em;
    border-right: 1px solid #363636;
  }

  &-header {
    font-size: 1em;
  }

  &-right {
    float: right;
    padding: 5px 15px;
    font-size:0.8em;
    border-right: 1px solid #363636;
  }
}

.tool-container {
  overflow: auto;
}

/* full-width banner for login and other pages */
.covfee-banner {
  width: 100%;
  margin: 1em auto 2em;
  text-align: center;
  font-size: 2em;

  >img {
    display: inline-block;
    margin-right: 0.5em;
  }
}

/*GUI elements */
.spinner {
  text-align: center;
  padding: 2em;
  margin: 2em 0;
}