.action-annotation-task {
    display: flex;
  }

  .gallery-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 2%;
    left: 0%;
    background: rgba(49,49,49,0.9);
    z-index: 1000;
    overflow: auto;
  }

  .gallery-overlay h1{
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 2%;
  }
  .gallery-overlay-image{
    height: auto;
    width: 95%;
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    
  }

  .sidebar {
    font-size: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    width:20%; /* Adjust as needed */
    min-width: 200px; /* Set a minimum width */
    background-color: #f0f0f0; /* Example background color */
    padding: 12px;
  }
  
  .sidebar h1{
    font-size: 1em;
    margin-top: 2em;
  }

  .sidebarBottom {
    margin-top: auto;
    background-color: red;
  }

  .gallery-button{
    width: 100%;
  }

  .main-content {
    background-color: #ffffff; /* Example background color */
    width: 80%;
    flex-direction: column;
  }
  
  .videoPlayer{
    width: 50%;
  }

.action-task-dropdown-title{
  text-align: left;
}
.action-task-dropwdown{
  font-size: 30px;
}

.action-task-dropwdown-button{
  width: 100%;
  border: 1px solid blue;
  border-radius: 6px;
  padding: 4px 8px 8px 4px;
  margin: 4px;
  text-align: center;
}

.action-task-dropdown-menu {
  max-height: 300px;
  overflow: auto;
}