<link rel="stylesheet" href="//vjs.zencdn.net/7.8.2/video-js.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/antd@4.8.2/dist/antd.min.css">
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/antd@4.8.2/dist/antd.min.js" crossorigin></script>
<script crossorigin src="https://cdn.jsdelivr.net/gh/josedvq/covfee@master/covfee/static/js/opencv.js"></script>
<script src="//vjs.zencdn.net/7.8.2/video.min.js"></script>